@model BuergerPortal.Web.ViewModels.CitizenViewModel
@{
    ViewBag.Title = "Edit Citizen";
}

<h2>Edit Citizen</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.CitizenId)
    @Html.HiddenFor(m => m.RegistrationDate)
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Personal Information</legend>

        <div class="form-group">
            @Html.LabelFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FirstName)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.LastName)
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LastName)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.DateOfBirth)
            @Html.TextBoxFor(m => m.DateOfBirth, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
            @Html.ValidationMessageFor(m => m.DateOfBirth)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.TaxId)
            @Html.TextBoxFor(m => m.TaxId, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.TaxId)
        </div>
    </fieldset>

    <fieldset>
        <legend>Address</legend>

        <div class="form-group">
            @Html.LabelFor(m => m.StreetAddress)
            @Html.TextBoxFor(m => m.StreetAddress, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.StreetAddress)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.City)
            @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.City)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.PostalCode)
            @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PostalCode)
        </div>
    </fieldset>

    <fieldset>
        <legend>Contact Information</legend>

        <div class="form-group">
            @Html.LabelFor(m => m.PhoneNumber)
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PhoneNumber)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </fieldset>

    <fieldset>
        <legend>Status</legend>

        <div class="form-group">
            @Html.LabelFor(m => m.IsLowIncome)
            @Html.CheckBoxFor(m => m.IsLowIncome)
            <span class="help-text">Check if citizen qualifies for low-income fee discount (30%)</span>
        </div>
    </fieldset>

    <div class="form-actions">
        <input type="submit" value="Save Changes" class="btn btn-primary" />
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn" })
    </div>
}
